<div class="background-color">
    <div>
        <button id="back" routerLink="/home" type="button" class="btn btn-secondary">Voltar</button>
    </div>

    <div class="wrapper">
        <div class="wrapped-div">
            <div class="tab-header">
                <h2 routerLink='/login' routerLinkActive='class'>Entrar</h2>
                <h2 routerLink='/registration' routerLinkActive='text-success'>Registrar-se</h2>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                </div>
            </div>

            <form [formGroup]="form">
                <div class="form-group required">
                    <label for="userName">Usuário:</label>
                    <input type="text" class="form-control" formControlName="userName" id="userName">
                </div>
                <div class="form-group required">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" formControlName="email" id="email">
                </div>
                <div class="form-group required">
                    <label for="fullName">Nome completo:</label>
                    <input type="text" class="form-control" formControlName="fullName" id="fullName">
                </div>
                <div class="form-group required">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" formControlName="password" id="password">
                </div>
                <div class="form-group required">
                    <label for="confirmPassword">Confirme sua Senha:</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-lg btn-block" (click)="register()">Registrar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>