<div class="background-color">
    <div>
        <button id="back" routerLink="/home" type="button" class="btn btn-secondary">Voltar</button>
    </div>

    <div class="wrapper">
        <div class="wrapped-div">
            <div class="tab-header">
                <h2 routerLink='/login' routerLinkActive='class'>Entrar</h2>
                <h2 routerLink='/registration' routerLinkActive='text-success'>Registrar-se</h2>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                </div>
            </div>

            <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group required">
                    <label>Usuário: </label>
                    <input class="form-control" formControlName="UserName">
                    <label class="text-danger"
                        *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Campo
                        obrigatório.</label>
                </div>
                <div class="form-group">
                    <label>Email: </label>
                    <input class="form-control" formControlName="Email">
                    <label class="text-danger"
                        *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Email
                        inválido.</label>

                </div>
                <div class="form-group">
                    <label>Nome completo: </label>
                    <input class="form-control" formControlName="FullName">
                </div>
                <div formGroupName="Passwords">
                    <div class="form-group required">
                        <label>Senha: </label>
                        <input type="password" type="password" class="form-control" formControlName="Password">
                        <label class="text-danger"
                            *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Campo
                            obrigatório.</label>
                        <label class="text-danger"
                            *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minímo
                            de 4 caracteres requiridos.</label>

                    </div>
                    <div class="form-group required">
                        <label>Confirme sua Senha: </label>
                        <input class="form-control" formControlName="ConfirmPassword" type="password">
                        <label class="text-danger"
                            *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Campo
                            obrigatório.</label>
                        <label class="text-danger"
                            *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Senhas
                            não coiencidem.</label>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-lg btn-block"
                            [disabled]="!service.formModel.valid">Registrar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>