<div class="card" style="width: 18rem;display: flex;height: 40rem ;max-height: 45rem;justify-content: space-between;">
  <img class="card-img-top" src='{{ raffle.product.image }}' alt="Card image cap">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ raffle.name }}</h5>
    <p class="card-text">{{ raffle.description }}</p>
    <p><i class="fas fa-users"></i> Participantes: {{ raffle.participants.length }}</p>
    <p><i class="fas fa-money-check-alt"></i> Valor: R$ {{ raffle.unitPrice }}</p>
    <button class="mt-auto btn btn-lg btn-block btn-primary" (click)="participate()">Participar</button>
  </div>
</div>
