#modal {
    margin: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    position: relative;
}

.login-button{
    background-color: rgb(248, 155, 68);
}

a{
    color: rgb(248, 155, 68);
}

span {
    color: red;
}

#tittle{
   text-align: center;
    color: rgb(212, 108, 23);
}
    

div.form-group label:not(.text-danger) {
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after {
    content: '*';
    color: #fff;
    padding-left: 5px;
}

#toast-container>div {
    opacity: 1;
}

div.form-group input.invalid {
    border: 1px solid #dc3545;
}

div.form-group label:first-child {
    text-transform: uppercase;
    font-size: 0.9rem;
}