<div class="background-color">
    <div>
        <button id="back" routerLink="/home" type="button" class="btn btn-secondary">Voltar</button>
    </div>

    <div class="wrapper">
        <div class="wrapped-div">
            <div class="tab-header">
                <h2 routerLink='/login' routerLinkActive='text-success'>Entrar</h2>
                <h2 routerLink='/registration' routerLinkActive='class'>Registrar-se</h2>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                </div>
            </div>

            <img src="/assets/img/login.png" class="mx-auto d-block">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" formControlName="email" name="email">
                    <span class="invalid" *ngIf="form.controls.email.invalid && form.controls.email.dirty">Preenchimento obrigatório.</span>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" formControlName="password" name="password">
                    <span class="invalid" *ngIf="form.controls.password.invalid && form.controls.password.dirty">Preenchimento obrigatório.</span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-lg btn-block" (click)="login()">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>