<div class="container">
    <div>
        <h2 class="about"> Sobre nós </h2>
    </div>
    <div class="text">
        <p>A Dela Rifa é uma pequena startup que veio para arregaçar tudo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent vitae arcu a sem consequat pellentesque. Pellentesque in malesuada diam,
            ut malesuada ante. Nulla ac mi condimentum, condimentum velit non, maximus nulla.
            Suspendisse ut turpis vel mauris dignissim scelerisque eu vitae mauris.
            Donec sagittis nulla sed libero imperdiet vestibulum. Praesent ultrices ligula sed euismod cursus.
            Nulla vitae dolor pellentesque, iaculis nisl ac, rutrum nulla. Donec convallis pulvinar feugiat.
            Aenean rhoncus lacus dolor, ac ornare justo finibus non. Etiam risus tortor, rhoncus ac quam quis,
            finibus accumsan velit. Sed quis accumsan turpis. In porta nunc sed lectus vehicula,
            sit amet venenatis erat dapibus. Maecenas efficitur facilisis venenatis.<p>
    </div>
    <h2 class="text-center"> Fundadores </h2>
    <hr>
    <div class="row">
        <div class="col-sm text-center hover" (click)="openCurriculum(daniloCurriculum)">
            <img src="https://user-images.githubusercontent.com/40414119/76591225-6f34e700-64ce-11ea-8c90-0d3df84801c2.png"
                class="rounded-circle" alt="Cinque Terre">
            <p><strong>Danilo Ferrai</strong></p>
        </div>
        <div class="col-sm text-center hover" (click)="openCurriculum(lucasCurriculum)">
            <img src="https://user-images.githubusercontent.com/40414119/76591262-98ee0e00-64ce-11ea-96a3-4d0860172afd.jpeg"
                class="rounded-circle" alt="Cinque Terre">
            <p><strong>Lucas Oliveira</strong></p>
        </div>
        <div class="col-sm text-center hover" (click)="openCurriculum(manoelCurriculum)">
            <img src="https://user-images.githubusercontent.com/40414119/76591396-01d58600-64cf-11ea-9773-b855b73a96e2.jpeg"
                class="rounded-circle" alt="Cinque Terre">
            <p><strong>Manoel Merlin</strong></p>
        </div>
    </div>
</div>