<div class="container"><br>
    <h2 id="title" class="text-center"> Fundadores </h2>
    <hr>
    <div class="row">
        <div class="col-sm text-center hover" (click)="openCurriculum(daniloCurriculum)">
            <img src="https://user-images.githubusercontent.com/40414119/76591225-6f34e700-64ce-11ea-8c90-0d3df84801c2.png"
                class="rounded-circle" alt="Cinque Terre">
            <p><strong>Danilo Ferrai</strong></p>
        </div>
        <div class="col-sm text-center hover" (click)="openCurriculum(lucasCurriculum)">
            <img src="https://user-images.githubusercontent.com/40414119/76591262-98ee0e00-64ce-11ea-96a3-4d0860172afd.jpeg"
                class="rounded-circle" alt="Cinque Terre">
            <p><strong>Lucas Oliveira</strong></p>
        </div>
        <div class="col-sm text-center hover" (click)="openCurriculum(manoelCurriculum)">
            <img src="https://user-images.githubusercontent.com/40414119/76591396-01d58600-64cf-11ea-9773-b855b73a96e2.jpeg"
                class="rounded-circle" alt="Cinque Terre">
            <p><strong>Manoel Merlin</strong></p>
        </div>
        <div class="col-sm text-center hover" (click)="openCurriculum(kimCurriculum)">
            <!-- Todo-Kim -->
            <!-- Me manda no whats uma imagem que eu subo um link pra vc por aqui -->
            <img src="" class="rounded-circle" alt="Cinque Terre">
            <p><strong>Kim Kokubun</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <h2 id="title"> Missão </h2>

            <p>A Dela Rifa está comprometida a levar a melhor experiência de sorte aos nossos clientes através de
                sua
                plataforma, proporcionando conforto e confiabilidade.</p>
        </div>
        <div class="col">
            <br>
            <h2 id="title"> Visão </h2>

            <p>Ser uma empresa reconhecida por sua excelência em sorteios.</p>
        </div>
        <div class="col">
            <br>
            <h2 id="title"> Valores </h2>
            <ol>
                <ul>Equilíbrio</ul>
                <ul>Transparência</ul>
                <ul>Segurança</ul>
            </ol>
        </div>
    </div>
</div><br>